body
{
    background-image: linear-gradient(violet,white);
}
table
{

}
.answe{
    
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    height: auto;
    padding-top: 1%;
    
}
.fs
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    
}
img
{
    /* height: 100px; */
    display: inline;

}
input
{
    border-radius: ;
    background-color: rgb(255, 255, 255);
}
h4{
    font-family:'Times New Roman', Times, serif;
}
h1
{
    font-family:'Times New Roman', Times, serif;
    
}
